{% extends 'base.html' %}

{% block content %}

<div class="d-flex">
  <h1>{{user.username}}</h1>

  <form method="POST" action="/user/delete" class="m-0 ms-3">
    <button class="btn btn-sm btn-danger ml-2 mt-2">Delete Profile</button>
  </form>
</div>
<!-- bookmarks list -->
<div class="container mt-4">
  <h3 class="mb-2">Bookmarks</h3>
  {% if bookmarks %}
  <ul class="list-group">
    {% for bookmark in bookmarks %}
    <li class="list-group-item border-0 d-flex align-items-center">
      <div class="d-flex align-items-center">
        <h5 class="mb-0">
          <a href="/recipe/{{bookmark.recipe_id}}" class="text-decoration-none">{{bookmark.recipe_title}}</a>
        </h5>
      </div>
      <form action="/bookmark/{{bookmark.id}}/delete" method="post" class="m-0 ms-3">
        <button type="submit" class="btn btn-outline-danger btn-sm d-flex align-items-center">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No bookmark saved</p>
  {% endif %}
</div>

<!-- Posted comments -->
<div class="container mt-4">
  <h3>Posted Comments</h3>
  {% if comments %}
  <ul class="list-group">
    {% for comment in comments %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <h5><a href="/recipe/{{comment.recipe_id}}">{{comment.recipe_title}}</a></h5>
        <p>{{comment.text}}</p>
      </div>
      <div class="d-flex">
        <a href="/comment/{{comment.id}}/edit" class="btn btn-outline-primary btn-sm me-2">Edit</a>
        <form action="/comment/{{comment.id}}/delete" method="post">
          <button class="btn btn-outline-danger btn-sm">Delete</button>
        </form>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No comment posted</p>
  {% endif %}
</div>

{% endblock %}